kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: keycloak
spec:
  host: sso.{{ openshift_cluster_ingress_domain }}
  to:
    kind: Service
    name: keycloak
    weight: 100
  port:
    targetPort: https
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None