---
kind: Secret
apiVersion: v1
metadata:
  name: openid-client-secret-bb6zw
  namespace: openshift-config
stringData:
  clientSecret: {{ _ocp4_workload_authentication_keycloak_openshift_client_secret }}
type: Opaque
